.about {
  p {
    text-align: left;
  }

  hr {
    border-color: lighten($agilesg-lgrey, 40%);
  }

  h2 {
    .fa {
      padding-left: 0.3em;
    }
  }
}


.organisers {
  background: #fff;
  @include rhythm-padding(2);

  ul, li {
    list-style: none;
    //margin: 0;
    padding: 0;
  }
  li {
    text-align: center;
  }
  .organiser-photo {
    margin: 0 0 10px 0;
    img {
      width: 50%;
      height: inherit;
      border-radius: 50%;
    }
  }
  .organiser-bio {
    font-size: 0.9em;

    .speaker-name {
      font-weight: 500;
      font-size: 1.25em;
      color: $agilesg-dgrey;
    }
  }
}
