.site-footer {
  @include rhythm-padding(2);

  @include breakpoint(screen-sm) {
    @include rhythm-padding(2);
  }

  text-align: center;
  background: $agilesg-dgrey;
  color: #fff;

  a:hover {
    color: $agilesg-red;
    text-decoration: underline;
  }

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  li {
    list-style: none;
    margin: 0 1.5em 0.5em 0;
    text-align: center;
    display: inline-block;
    padding: 0;
  }
  .btn {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .btn.facebook {
    background: #3B5998;
  }
  .btn.linkedin {
    background: #0077B5;
  }
  .btn.twitter {
    background: #00ACED;
  }
}
