* {
  box-sizing: border-box;
  @include establish-baseline;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $agilesg-dgrey;
}

a {
  color: $agilesg-red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $agilesg-lgrey;
}
h1 {
  font-size: 4rem;
  font-weight: 300;
}

h2, h3 {
  font-weight: 300;
  color: $agilesg-dgrey;
}

h2 {
  margin: 0 0 1.2rem 0;
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

.btn {
  display: block;
  padding: 0.75rem;
  font-size: 1em;
  margin: 0 auto 1em auto;

  @include breakpoint(screen-xsm) {
    font-size: 1em;
    display: inline-block;
  }

  @include breakpoint(screen-md) {
    padding: 0.75rem 1rem;
  }
}

.button {
  background: $agilesg-red;
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.button.reverse {
  background: #fff;
  color: $agilesg-red;
  border: 1px solid $agilesg-red;
}

.button.cta-tickets {
  font-size: 1.4em;
  margin-bottom: 0.3em;
  width: 200px;
}

.jumbotron {
  background: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0;
  
  h1 {
    margin: 0 0 2rem 0;
    font-size: 4rem;
  }

  p {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 400;
  }
}

.content {
  @include rhythm-padding(2);

  h2 {
    text-align: center;
  }
}
