.navbar {
  margin-bottom: 0;
  background: #fff;
  border-bottom: 2px solid $agilesg-red;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-nav {
  display: none;
  
  @include breakpoint(screen-sm) {
    display: block;
  }
  .btn-default {
    background-color: $agilesg-red;
    border-width:0px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 0.95em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: background-color 0.5s;
    margin: 0.4em 0 0.4em 1em;
  }
  .btn-default:hover {
    background-color: #9F1116;
    color: #fff;
    text-decoration: underline;
  }
  li a {
    color: #333;
  }
  li a:hover {
    text-decoration: underline;
    color: $agilesg-red;
  }
}

.navbar-collapse.in .navbar-nav {
  display: block;
  
  li {
    text-align: center;
  }
  .btn-default {
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }
}

.navbar-toggle {
  border: none;
  @include breakpoint(screen-sm) {
    display: none;    
  }
  .icon-bar {
    background: #999;
    transition: background-color 0.5s;
  }
  &:hover .icon-bar {
    background: $agilesg-red;
  }
}

.branding {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/new_mast.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  
  @include rhythm-padding(2);
  margin-top: 50px;

  @include breakpoint(screen-xsm) {
    min-height: 300px;
  }

  h2, h3, h4 {
    color: #fff;
  }
  h1 {
    width: 100%;
    max-width: 366px;
    min-height: 78px;
    margin: 0 auto 20px;
    text-indent: -9999px;
    background: url("../images/agile-2016-logo-header.svg") no-repeat center center;
    background-size: 90%;

    @include breakpoint(screen-sm) {
      @include rhythm(0.5);
      background-size: 100%;
    }

    a {
      display: block;
    }
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.375em;

    @include rhythm(0.5);

    @include breakpoint(screen-sm) {
      font-size: 2.2em;
    }
  }

  h3 {
    margin: 0 0 1em;
    font-size: 1em;
    line-height: 1.375em;

    @include breakpoint(screen-sm) {
      font-size: 1.25em;
    }
  }
}

.notify {
  @include breakpoint(screen-sm) {
    @include rhythm(1);
  }
}

.page-masthead {
  color: #fff;
  text-align: center;
  background: url("../images/agilesg2016_masthead_640.jpg") no-repeat center top;
  min-height: 200px;
  
  @include breakpoint(screen-xsm) {
    background: url("../images/agilesg2016_masthead_1280.jpg") no-repeat center top;
    min-height: 400px;
  }
  
  @include breakpoint(screen-lg) {
    background: url("../images/agilesg2016_masthead_1920.jpg") no-repeat center top;
    min-height: 600px;
  }
}

.site-description {
  background: #EC1D24;
  color: #fff;
  padding: 1em;
  text-align: center;

  h2 {
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
}
