.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/new_mast.jpg") no-repeat center top;
  background-size: cover;
  margin-bottom: 0;
  color: white;
  min-height: 500px;
  padding: 2em 0;

  h3 {
    text-align: center;
    margin: 0 0 1.2em 0;
  }
  .empty {
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center; 

    p {
      margin-top: 20%;
    }
  }
}