.sponsors {
  background: #fff;
  @include rhythm-padding(2);
  padding-bottom: 0;
}

.sponsor {
  margin-bottom: 2em;

  .thumbnail {
    background-color: transparent;
    border: 0;

    img {
      max-height: 120px;
      max-width: 200px;
    }
  }
}

.sponsor-cta {
  border-top: 1px solid #ccc;
  @include leader(1, $base-font-size, padding);
  @include leader(1, $base-font-size, margin);

  @include breakpoint(screen-sm) {
    border: none;
    margin-top: 0;
    padding-top: 0;
  }

  h2 {
      margin-top: 0;
      font-size: 2em;
  }
  h3 {
    @include breakpoint(screen-xs) {
      font-size: 1em;
    }
  }
  .btn {
    @include breakpoint(screen-xsm) {
      margin: 0 1em 1em 0;
      padding: 0.5em 1em;
    }

    @include breakpoint(screen-md) {
      width: 45%;
    }
  }
}

.sponsor-placeholder {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 260px;
  max-width: 340px;
  height: 120px;
  margin-bottom: 3em;

  p {
    font-size: 0.9em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}
