.sponsors-snippet {
  background: #f2f2f2;
  @include rhythm-padding(1);

  @include breakpoint(screen-xsm) {
    @include rhythm-padding(2);
  }
  .col-sm-6 {
    text-align: center;
  }
  h3 {
    font-size: 1.25em;
    font-weight: 500;
  }

  .about {
    h2 {
      margin-top: 0;
    }
  }
}

.sponsors {
  background: #f2f2f2;
  @include rhythm-padding(2);
  padding-bottom: 0;
  
  h2 {
    text-align: center;
    margin: 0 0 1.2em 0;
    color: #343434;
    font-size: 34px;
  }

  .thumbnail {
    background-color: transparent;
    border: 0;
  }
}

.sponsor-cta {
  border-top: 1px solid #ccc;
  @include leader(1, $base-font-size, padding);
  @include leader(1, $base-font-size, margin);

  @include breakpoint(screen-sm) {
    border: none;
    margin-top: 0;
    padding-top: 0;
  }

  h2 {
      margin-top: 0;
      font-size: 2em;
  }
  h3 {
    @include breakpoint(screen-xs) {
      font-size: 1em;
    }
  }
  .btn {
    @include breakpoint(screen-xsm) {
      margin: 0 1em 1em 0;
      padding: 0.5em 1em;
    }

    @include breakpoint(screen-md) {
      width: 45%;
    }
  }
}
