
.workshops {
  background: #fff;
  @include rhythm-padding(2);
  padding-bottom: 0;
}

.workshop {
  margin-bottom: 2em;

  h2 {
    text-align: left;
  }

  .date, .trainer-name {
    font-weight: bold;
  }

  .photo {
    max-width: 60px;
    border-radius: 50%;
  }
}

.workshop-summary {
  text-align: left;

  h1 {
    text-align: left;
  }

  .date, .trainer-name {
    font-weight: bold;
  }

  .photo {
    max-width: 60px;
    border-radius: 50%;
  }
}

.workshop-detail {
  blockquote {
    font-size: 0.9em;
  }
}
