---
layout: default
bodyClass: home
---

<header class="branding">
<div class="container">
  <div>
  <h1 class="logo">Agile Singapore Conference 2016</h1>
  <h3>6-7 October 2016, Hotel Fort Canning</h3>
  <h2 class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">A regional conference on Agile practices, craftsmanship and organisation improvement.</h2>

  <div class="notify col-md-4 col-md-offset-4">
    <a href="tickets.html" class="btn button cta-tickets">Register</a>
    <p><a href="http://agilesingapore.us4.list-manage.com/subscribe?u=d41961d22f686fe43e93b7524&amp;id=57ca987e54" target="_blank">Or get notified for updates</a></p>
  </div>

  <div class="col-md-4 col-md-offset-4">
    <h3>Title Sponsors</h3>
    <a href="/sponsors.html#sponsors"><img src="images/sponsors/thoughtworks_white.png" width="220"></a>
  </div>

</div>
</div>
</header>

<section class="featured-speakers content">
  <div class="container">
    <div class="col-sm-12">
      <h2>Supercharged with 3 tracks 40 sessions across 8 themes</h2>

      <div class="row text-center themes">
        <div class="col-md-offset-3 col-md-3">
          Coaching and Mentoring<br>
          Collaboration, Culture and Teams<br>
          Dev. Practices and Craftsmanship<br>
          DevOps
        </div>
        <div class="col-md-3">
          Enterprise Agile<br>
          Leadership<bR>
          User Experience<br>
          Working with Customers
        </div>
      </div>


      <h2>International Keynote Speakers</h2>
      <ul>
        {% for speaker in site.data.featured_speakers %}
          {% if speaker.keynote == true %}

            {% include speaker.html col-class="speaker col-sm-6 col-md-3" %}

          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-12 text-center see-all-speakers">
      <a class="btn button reverse" href="https://confengine.com/agile-singapore-2016/schedule" target="_blank">
        See Program and Speakers</a>
    </div>

    <h2>3 Exclusive Workshops</h2>
    <div class="row">

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="workshop">
              <div class="row">
                <div class="col-xs-8"><p class="date">4-Oct-16, 9am to 5pm</p></div>
                <div class="col-xs-4 text-right"><span class="label {{ site.data.misc.seats.refactoring.style }}">{{ site.data.misc.seats.refactoring.left }} Seats Left</span></div>
              </div>

              <h2>The Art of Refactoring</h2>
              <p>
                <span class="trainer-name">Joshua Kerievsky</span> - Author of Refactoring to Patterns and creator of Modern Agile<br>
                <span class="trainer-name">Gerard Meszaros</span> - Author of xUnit Test Patterns: Refactoring Test Code
              </p>
              <a class="btn button reverse" href="workshop-refactoring-joshua.html">Find out more</a>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="workshop">
              <div class="row">
                <div class="col-xs-8"><p class="date">5-Oct-16, 9am to 5pm</p></div>
                <div class="col-xs-4 text-right"><span class="label {{ site.data.misc.seats.user_stories.style }}">{{ site.data.misc.seats.user_stories.left }} Seats Left</span></div>
              </div>

              <h2>How to get more value out of User Stories</h2>
              <p><span class="trainer-name">Gojko Adzic</span> - Author of Specification by Example, Impact Mapping and more</p>
              <a class="btn button reverse" href="workshop-user-stories-gojko.html">Find out more</a>
            </div>

          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="workshop">
              <div class="row">
                <div class="col-xs-8"><p class="date">8-Oct-16, 9am to 5pm</p></div>
                <div class="col-xs-4 text-right"><span class="label {{ site.data.misc.seats.game.style }}">{{ site.data.misc.seats.game.left }} Seats Left</span></div>
              </div>

              <h2>Game Thinking</h2>
              <p class="subtitle">Expert tools & techniques to help you build a better product in less time</p>
              <p><span class="trainer-name">Amy Jo Kim</span> - Social game designer, community architect and startup coach</p>
              <a class="btn button reverse" href="workshop-game-thinking-amy.html">Find out more</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

<section class="news">
  <div class="container">
    <div class="col-md-4 col-md-offset-2 text-center">
      <i class="fa fa-ticket fa-2x"></i>
      <h2>{{ site.data.misc.tickets_sold }} tickets sold</h2>

      <div id="carousel-quote" class="carousel slide" data-ride="carousel" data-interval="12000">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p class="text-left">
              <em><small>"I was looking for opportunities to meet people like-minded people when visiting Singapore from the UK in October. Agile Singapore 2016 looked friendly, familiar, and has some great names lined up already. I can't wait to see how people are approaching building software and team working in the region, share my experiences, and hope to find that we face similar challenges regardless of hemisphere!"
              <br>&mdash; Matt
              </small></em>
            </p>
          </div>
          <div class="item">
            <p class="text-left">
              <em><small>"I am always excited to see the list of world class speakers that this conference invites. They are renowned people in the industry and often are the pioneers and practitioners of the leading edge methodologies and techniques. There is no way that I am going to miss this rare opportunity!"
              <br>&mdash; Henry
              </small></em>
            </p>
          </div>
          <div class="item">
            <p class="text-left">
              <em><small>"I always look forward in attending this conference because I get the opportunity to meet like minded people that invest deeply and care about their craft. A lot of cross pollination/learning and open collaboration happens during the conference and experiencing it is one of the things that make it special."
              <br>&mdash; Edwardcher
              </small></em>
            </p>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-4 text-center updates">
      <i class="fa fa-bullhorn fa-2x icon"></i>

      <p class="news-summary">Full program is up!</p>
      <p id="elapsed-time-latest" class="news-date"></p>

      <p class="news-summary">Special hotel room rates are up!</p>
      <p id="elapsed-time-older" class="news-date"></p>

      <p class="news-summary">Workshop subsidy for Singaporeans/PR</p>
      <p id="elapsed-time-oldest" class="news-date"></p>

      <a class="btn button reverse" href="/updates" >Conference Updates</a>
    </div>
  </div>
</section>


<section class="content">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h2>Want to be a sponsor?</h2>
      <p>Increase your brand exposure, position your company as an employer of choice and support your staff to gain more knowledge and overcome development challenges </p>
      <h3>Speak to us to find out more about sponsorship</h3>
      <a class="btn button reverse" href="http://2016.agilesingapore.org/docs/2016_sponsorship.pdf" target="_blank" onClick="ga('send','event','sponsorship','download','Download kit',50);">Get our sponsorship kit</a>
      <a class="btn button" href="mailto:organisers@agilesingapore.org?subject=Agile Singapore 2016 Sponsorship" target="_blank" onClick="ga('send','event','sponsorship','email','Sponsorship enquiry',100);">Send us an email</a>
    </div>
  </div>
</section>


<script src="/javascripts/moment.min.js"></script>
<script>
  document.getElementById("elapsed-time-latest").innerHTML = moment("20160719", "YYYYMMDD").fromNow();
  document.getElementById("elapsed-time-older").innerHTML = moment("20160707", "YYYYMMDD").fromNow();
  document.getElementById("elapsed-time-oldest").innerHTML = moment("20160627", "YYYYMMDD").fromNow();
</script>
