---
layout: default
title: Speakers |
bodyClass: page-speakers-landing
---

<section class="jumbotron">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Featured Speakers</h1>
      <p>Topics will be updated progressively as we receive it from the speakers</p>
  </div>
</section>

<section class="featured-speakers content">
  <div class="container">

    <ul>
      {% for speaker in site.data.featured_speakers %}

        {% include speaker.html col-class="col-sm-3" %}

      {% endfor %}
    </ul>


  </div>
</section>
