---
layout: default
title: Speakers |
bodyClass: page-speakers-landing
---

<section class="jumbotron">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Featured Speakers</h1>
      <p>Topics will be updated progressively as we receive it from the speakers. An alternative view of all the accepted topics so far can be found in our <a href="https://confengine.com/agile-singapore-2016/proposals" target="_blank">call for proposals system.</a></p>
  </div>
</section>

<section class="featured-speakers content">
  <div class="container">

    <ul>
      {% for speaker in site.data.featured_speakers %}

        {% include speaker.html col-class="col-md-4" %}

      {% endfor %}
    </ul>


  </div>
</section>
