<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} Agile Singapore Conference 2016, 6-7 Oct</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="http://2016.agilesingapore.org/images/fb_social.jpg" />
  <meta property="og:title" content="Agile Singapore 2016 Conference" />
  <meta property="og:url" content="http://2016.agilesingapore.org" />
  <meta property="og:description" content="The 3rd Regional Agile Conference in Singapore on 6 to 7 Oct at Hotel Fort Canning." />

   <link rel="fluid-icon" href="/images/favicon.png" title="Agile Singapore Conference 2016">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144.png">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:500,400,200,300,300italic,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>

</head>

<body class="{{ page.bodyClass }}">
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TDDNZV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDDNZV');</script>
<!-- End Google Tag Manager -->


  <nav class="navbar navbar-fixed-top">
    <div class="perm-alert">
      All registrations have either sold out or ended. Thank you very much for your support!
    </div>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/agile-2016-logo-min.svg" width="90"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about.html">About</a></li>
            <li><a href="/venue.html">Venue</a></li>
            <li><a href="/workshops.html">Workshops</a></li>
            <li><a href="https://confengine.com/agile-singapore-2016/schedule" target="_blank">Program/Speakers</a></li>
            <li><a href="/sponsors.html">Sponsors</a></li>
            <li><a href="/call-for-proposals-themes.html">Call for Proposals</a></li>
            <li><a href="/updates">Updates</a></li>
            <li><a class="button btn-default" href="/tickets.html">Register</a></li>
          </ul>
         </div>
       </div>
  </nav>

  {{ content }}

  <footer class="site-footer">
    <div class="container">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p><img src="/images/agile-2016-logo-footer.svg"></p>
      <p>The Agile Singapore conference is organised by a group of passionate individuals who also organises the <a href="http://meetup.com/Agile-Singapore" onClick="ga('send','event','website','click','Agile SG Meetup',0);">monthly Agile meetups in Singapore</a>.</p>
        <p><a href="mailto: organisers@agilesingapore.org" target="_blank" onClick="ga('send','event','email','click','Get in touch',0);">Get in touch</a> with us if you have any questions!</p>
    <p><strong>You may also like to follow us on:</strong></p>
    <ul>
      <li><a class="btn facebook" href="http://fb.com/AgileSingapore" target="_blank" onClick="ga('send','event','social','click','Facebook',0);">Facebook</a></li>
      <li><a class="btn twitter" href="http://twitter.com/agilesgorg" target="_blank" onClick="ga('send','event','social','click','Twitter',0);">@agilesgorg</a></li>
      <li><a class="btn linkedin" href="https://www.linkedin.com/company/10696279" target="_blank" onClick="ga('send','event','social','click','LinkedIn',0);">LinkedIn</a></li>
    </ul>
    </div>
  </div>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
<!-- Start of Leadin Embed -->
  <script type="text/javascript" src="//js.leadin.com/js/v1/2137295.js" id="LeadinEmbed-2137295" crossorigin="use-credentials" async defer></script>
<!-- End of Leadin Embed -->
</body>

</html>
